.conteiner {
    /*width: 1366px;*/
    /*height: 768px;*/
    width: 100%;
    height: 100%;
    min-height: 728px;
    min-width: 969px;
    background: url("../images/background.png");
    background-size: cover;

}

header {
    background-color: rgba(0, 0, 0, 0.41);
    /*width: 1366px;*/
    width: 100%;
    min-width: 969px;
    height: 54px;
    font-family: Verdana, sans-serif;
    display: flex;
    align-items: center;
}

header div:first-child {
    margin-left: 5.93vw;
}

header div:nth-child(2) {
    margin-left: 53.81vw;
}

header div:nth-child(3) {
    margin-left: 2.05vw;
}

header div:nth-child(4) {
    margin-left: 2.05vw;
}

header div:nth-child(5) {
    margin-left: 3.66vw;
}


h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    color: #3cb878;
}

.bg-ic_caledar1 {
    width: 19px;
    height: 19px;
    background: url(../images/css_sprites.png) -106px -10px;
}

.bg-ic_caledar1:hover {
    width: 19px;
    height: 19px;
    background: url(../images/css_sprites.png) -106px -49px;
}

.bg-ic_forum1 {
    width: 28px;
    height: 20px;
    background: url(../images/css_sprites.png) -10px -10px;
}

.bg-ic_forum1:hover {
    width: 28px;
    height: 20px;
    background: url(../images/css_sprites.png) -58px -10px;
}

.bg-ic_journey1 {
    width: 20px;
    height: 20px;
    background: url(../images/css_sprites.png) -10px -50px;
}

.bg-ic_journey1:hover {
    width: 20px;
    height: 20px;
    background: url(../images/css_sprites.png) -50px -50px;
}

header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #ffffff;

}

header p a {
    color: #3cb878;
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    height: 94.3vh;
    min-height: 709px;
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: Verdana, sans-serif;

}

.centr {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start {

    height: 47px;
    width: 444px;
    display: flex;
    align-items: center;
}

.square {
    width: 18px;
    height: 18px;
    background: #3cb878;
    float: left;
}

.centr div span {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-left: 42px;
}

.centr div a {
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    margin-left: 205px;
}

.centr div a:hover {
    text-decoration: underline;
}

.clearcss {
    clear: both;

}

.googleface {
    display: flex;
    width: 322px;
    height: 48px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0;

}

.googleface .key:nth-child(1) {
    background-color: #305db8;
}
.googleface .key:nth-child(1):hover{
    background-color: #264b96;}

.googleface .key:nth-child(2) {
    background-color: #df4a32;

}
.googleface .key:nth-child(2):hover{
    background-color: #c3412c;
}
.googleface .key p {
    margin-bottom: 0;
    padding-top: 0;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?hvyk5g');
    src: url('../fonts/icomoon.eot?hvyk5g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hvyk5g') format('truetype'),
    url('../fonts/icomoon.woff?hvyk5g') format('woff'),
    url('../fonts/icomoon.svg?hvyk5g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
    content: "\ea8b";
    padding-right: 10px;
    border-right: solid rgba(0, 0, 0, 0.1);
    margin: 0 24px 0 13px;
}

.icon-facebook:before {
    content: "\ea90";
    padding-right: 10px;
    border-right: solid rgba(0, 0, 0, 0.1);
    margin: 0 20px;
}

.key {
    border-radius: 3px;
    width: 157px;
    height: 46px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
}



.hline {
    display: flex;
    width: 322px;
    height: 40px;
    align-items: center;
    color: #858585;
}

form div input {
    width: 322px;
    height: 46px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 17px;
    margin-bottom: 13px;
    border: solid #eaeaea;

}
input{
    outline: none;
}

form div input:focus {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    color: #434343;
    font-size: 14px;
    font-weight: 400;

}

.cb {

    display: flex;
    width: 342px;
    height: 25px;
}

.cb label a {
    margin: 0;
    padding: 0;
}

label input {
    display: none;

}

div label span {
    height: 11px;
    width: 14px;
    border: 2px solid #eaeaea;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    border-radius: 2px;
    right: 26px;
    top: 2px;

}

[type=checkbox]:checked + span:before {

    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 15px;
    color: green;

}

.exit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;

}

.exit input {
    background: #3cb878;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;

}

.exit input:hover {
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 1s;
    font-size: 36px;
    background: #2e9b65;
}

.exit input:focus {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: none;
    box-shadow: none;

}

